In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
sns.set()

warnings.filterwarnings('ignore')

%matplotlib inline
color = sns.color_palette()

In [76]:
# data = pd.read_csv('data/data.csv')
# data = pd.read_csv('data/data.csv', error_bad_lines=False)
data = pd.read_csv('data/data.csv', sep='\t', comment='#')

In [77]:
data.shape

(307511, 1)

In [78]:
# Split columns from one string to array of strings
column = data.columns
columns = column[0].split(';')

In [79]:
columns

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [80]:
# Handle with data
ddd = np.reshape(data.values, data.shape[0])
print(type(ddd[0]))

arrays = []
for array in ddd:
    arrays.append(array.split(';'))

arrays = np.asarray(arrays)
arrays.shape

<class 'str'>

(307511, 119)

In [81]:
dataset = pd.DataFrame(data=arrays, columns=columns)

In [82]:
dataset.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 119 columns):
SK_ID_CURR                      object
TARGET                          object
NAME_CONTRACT_TYPE              object
CODE_GENDER                     object
FLAG_OWN_CAR                    object
FLAG_OWN_REALTY                 object
CNT_CHILDREN                    object
AMT_INCOME_TOTAL                object
AMT_CREDIT                      object
AMT_ANNUITY                     object
AMT_GOODS_PRICE                 object
NAME_TYPE_SUITE                 object
NAME_INCOME_TYPE                object
NAME_EDUCATION_TYPE             object
NAME_FAMILY_STATUS              object
NAME_HOUSING_TYPE               object
REGION_POPULATION_RELATIVE      object
DAYS_BIRTH                      object
DAYS_EMPLOYED                   object
DAYS_REGISTRATION               object
DAYS_ID_PUBLISH                 object
OWN_CAR_AGE                     object
FLAG_MOBIL                      object
FLAG_EMP_PHONE                  object
FLAG_WORK_PHONE                 object
FLAG_CONT_MOBILE                object
FLAG_PHONE                      object
FLAG_EMAIL                      object
OCCUPATION_TYPE                 object
CNT_FAM_MEMBERS                 object
REGION_RATING_CLIENT            object
REGION_RATING_CLIENT_W_CITY     object
WEEKDAY_APPR_PROCESS_START      object
HOUR_APPR_PROCESS_START         object
REG_REGION_NOT_LIVE_REGION      object
REG_REGION_NOT_WORK_REGION      object
LIVE_REGION_NOT_WORK_REGION     object
REG_CITY_NOT_LIVE_CITY          object
REG_CITY_NOT_WORK_CITY          object
LIVE_CITY_NOT_WORK_CITY         object
ORGANIZATION_TYPE               object
APARTMENTS_AVG                  object
BASEMENTAREA_AVG                object
YEARS_BEGINEXPLUATATION_AVG     object
YEARS_BUILD_AVG                 object
COMMONAREA_AVG                  object
ELEVATORS_AVG                   object
ENTRANCES_AVG                   object
FLOORSMAX_AVG                   object
FLOORSMIN_AVG                   object
LANDAREA_AVG                    object
LIVINGAPARTMENTS_AVG            object
LIVINGAREA_AVG                  object
NONLIVINGAPARTMENTS_AVG         object
NONLIVINGAREA_AVG               object
APARTMENTS_MODE                 object
BASEMENTAREA_MODE               object
YEARS_BEGINEXPLUATATION_MODE    object
YEARS_BUILD_MODE                object
COMMONAREA_MODE                 object
ELEVATORS_MODE                  object
ENTRANCES_MODE                  object
FLOORSMAX_MODE                  object
FLOORSMIN_MODE                  object
LANDAREA_MODE                   object
LIVINGAPARTMENTS_MODE           object
LIVINGAREA_MODE                 object
NONLIVINGAPARTMENTS_MODE        object
NONLIVINGAREA_MODE              object
APARTMENTS_MEDI                 object
BASEMENTAREA_MEDI               object
YEARS_BEGINEXPLUATATION_MEDI    object
YEARS_BUILD_MEDI                object
COMMONAREA_MEDI                 object
ELEVATORS_MEDI                  object
ENTRANCES_MEDI                  object
FLOORSMAX_MEDI                  object
FLOORSMIN_MEDI                  object
LANDAREA_MEDI                   object
LIVINGAPARTMENTS_MEDI           object
LIVINGAREA_MEDI                 object
NONLIVINGAPARTMENTS_MEDI        object
NONLIVINGAREA_MEDI              object
FONDKAPREMONT_MODE              object
HOUSETYPE_MODE                  object
TOTALAREA_MODE                  object
WALLSMATERIAL_MODE              object
EMERGENCYSTATE_MODE             object
OBS_30_CNT_SOCIAL_CIRCLE        object
DEF_30_CNT_SOCIAL_CIRCLE        object
OBS_60_CNT_SOCIAL_CIRCLE        object
DEF_60_CNT_SOCIAL_CIRCLE        object
DAYS_LAST_PHONE_CHANGE          object
FLAG_DOCUMENT_2                 object
FLAG_DOCUMENT_3                 object
FLAG_DOCUMENT_4                 object
FLAG_DOCUMENT_5                 object
FLAG_DOCUMENT_6                 object
FLAG_DOCUMENT_7                 object
FLAG_DOCUMENT_8                 object
FLAG_DOCUMENT_9                 object
FLAG_DOCUMENT_10                object
FLAG_DOCUMENT_11                object
FLAG_DOCUMENT_12                object
FLAG_DOCUMENT_13                object
FLAG_DOCUMENT_14                object
FLAG_DOCUMENT_15                object
FLAG_DOCUMENT_16                object
FLAG_DOCUMENT_17                object
FLAG_DOCUMENT_18                object
FLAG_DOCUMENT_19                object
FLAG_DOCUMENT_20                object
FLAG_DOCUMENT_21                object
AMT_REQ_CREDIT_BUREAU_HOUR      object
AMT_REQ_CREDIT_BUREAU_DAY       object
AMT_REQ_CREDIT_BUREAU_WEEK      object
AMT_REQ_CREDIT_BUREAU_MON       object
AMT_REQ_CREDIT_BUREAU_QRT       object
AMT_REQ_CREDIT_BUREAU_YEAR      object
dtypes: object(119)
memory usage: 279.2+ MB

In [83]:
# All columns in string -> convert some columns in float or int
to_float_columns = ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
                    'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
                    'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 
                    'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
                   'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
                   'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
                   'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
                   'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
                   'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
                   'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
                   'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE']

to_int_columns = ['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
                 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
                  'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
                 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
                 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
                 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
                  'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 
                  'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 
                  'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 
                  'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
                  'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 
                  'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [94]:
typed_dataset = dataset.copy()

In [95]:
# To Float
for column in to_float_columns + to_int_columns:
    converted = []
    print(column)
    for val in typed_dataset[column].values:
        try:
            converted.append(float(val))
        except ValueError:
            converted.append(None)

    typed_dataset[column] = converted

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
SK_ID_CURR
TARGET
CNT_CHILDREN
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR

In [96]:
missing_values = typed_dataset.isnull().sum().sort_values(ascending=False)
percent_data = (typed_dataset.isnull().sum() / typed_dataset.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([missing_values, percent_data], axis=1, keys=['Total', 'Percent'])
print('Missing data:\n', missing_data)

Missing data:
                              Total   Percent
COMMONAREA_MODE             214865  0.698723
COMMONAREA_MEDI             214865  0.698723
COMMONAREA_AVG              214865  0.698723
NONLIVINGAPARTMENTS_MEDI    213514  0.694330
NONLIVINGAPARTMENTS_MODE    213514  0.694330
NONLIVINGAPARTMENTS_AVG     213514  0.694330
LIVINGAPARTMENTS_MODE       210199  0.683550
LIVINGAPARTMENTS_MEDI       210199  0.683550
LIVINGAPARTMENTS_AVG        210199  0.683550
FLOORSMIN_MEDI              208642  0.678486
FLOORSMIN_AVG               208642  0.678486
FLOORSMIN_MODE              208642  0.678486
YEARS_BUILD_MODE            204488  0.664978
YEARS_BUILD_AVG             204488  0.664978
YEARS_BUILD_MEDI            204488  0.664978
OWN_CAR_AGE                 202929  0.659908
LANDAREA_AVG                182590  0.593767
LANDAREA_MEDI               182590  0.593767
LANDAREA_MODE               182590  0.593767
BASEMENTAREA_MEDI           179943  0.585160
BASEMENTAREA_MODE           179943  0.585160
BASEMENTAREA_AVG            179943  0.585160
NONLIVINGAREA_MODE          169682  0.551792
NONLIVINGAREA_AVG           169682  0.551792
NONLIVINGAREA_MEDI          169682  0.551792
ELEVATORS_MODE              163891  0.532960
ELEVATORS_MEDI              163891  0.532960
ELEVATORS_AVG               163891  0.532960
APARTMENTS_AVG              156061  0.507497
APARTMENTS_MEDI             156061  0.507497
...                            ...       ...
WALLSMATERIAL_MODE               0  0.000000
EMERGENCYSTATE_MODE              0  0.000000
FLAG_DOCUMENT_2                  0  0.000000
FLAG_DOCUMENT_3                  0  0.000000
FLAG_DOCUMENT_4                  0  0.000000
FLAG_DOCUMENT_5                  0  0.000000
FLAG_DOCUMENT_6                  0  0.000000
FLAG_DOCUMENT_7                  0  0.000000
FLAG_DOCUMENT_8                  0  0.000000
FLAG_DOCUMENT_9                  0  0.000000
FLAG_DOCUMENT_10                 0  0.000000
FLAG_DOCUMENT_11                 0  0.000000
FLAG_DOCUMENT_12                 0  0.000000
FLAG_DOCUMENT_13                 0  0.000000
FLAG_DOCUMENT_14                 0  0.000000
FLAG_DOCUMENT_15                 0  0.000000
FLAG_DOCUMENT_16                 0  0.000000
FLAG_DOCUMENT_17                 0  0.000000
FLAG_DOCUMENT_18                 0  0.000000
FLAG_DOCUMENT_19                 0  0.000000
FLAG_DOCUMENT_20                 0  0.000000
FLAG_DOCUMENT_21                 0  0.000000
ORGANIZATION_TYPE                0  0.000000
LIVE_CITY_NOT_WORK_CITY          0  0.000000
REG_CITY_NOT_WORK_CITY           0  0.000000
REG_CITY_NOT_LIVE_CITY           0  0.000000
HOUSETYPE_MODE                   0  0.000000
REG_REGION_NOT_WORK_REGION       0  0.000000
REG_REGION_NOT_LIVE_REGION       0  0.000000
SK_ID_CURR                       0  0.000000

[119 rows x 2 columns]

In [104]:
typed_dataset.to_csv('data/fixed_data/data.csv', index=False)

In [106]:
d = pd.read_csv('data/fixed_data/data.csv')

In [108]:
d.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002.0,1.0,Cash loans,M,N,Y,0.0,202500.0,406597.5,24700.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003.0,0.0,Cash loans,F,N,N,0.0,270000.0,1293502.5,35698.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004.0,0.0,Revolving loans,M,Y,Y,0.0,67500.0,135000.0,6750.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006.0,0.0,Cash loans,F,N,Y,0.0,135000.0,312682.5,29686.5,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007.0,0.0,Cash loans,M,N,Y,0.0,121500.0,513000.0,21865.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Fix main_test

In [3]:
main_test = pd.read_csv('test_set.csv', sep='\t', comment='#')
print(main_test.shape)
main_test.head()

(48744, 1)

  SK_ID_CURR;NAME_CONTRACT_TYPE;CODE_GENDER;FLAG_OWN_CAR;FLAG_OWN_REALTY;CNT_CHILDREN;AMT_INCOME_TOTAL;AMT_CREDIT;AMT_ANNUITY;AMT_GOODS_PRICE;NAME_TYPE_SUITE;NAME_INCOME_TYPE;NAME_EDUCATION_TYPE;NAME_FAMILY_STATUS;NAME_HOUSING_TYPE;REGION_POPULATION_RELATIVE;DAYS_BIRTH;DAYS_EMPLOYED;DAYS_REGISTRATION;DAYS_ID_PUBLISH;OWN_CAR_AGE;FLAG_MOBIL;FLAG_EMP_PHONE;FLAG_WORK_PHONE;FLAG_CONT_MOBILE;FLAG_PHONE;FLAG_EMAIL;OCCUPATION_TYPE;CNT_FAM_MEMBERS;REGION_RATING_CLIENT;REGION_RATING_CLIENT_W_CITY;WEEKDAY_APPR_PROCESS_START;HOUR_APPR_PROCESS_START;REG_REGION_NOT_LIVE_REGION;REG_REGION_NOT_WORK_REGION;LIVE_REGION_NOT_WORK_REGION;REG_CITY_NOT_LIVE_CITY;REG_CITY_NOT_WORK_CITY;LIVE_CITY_NOT_WORK_CITY;ORGANIZATION_TYPE;APARTMENTS_AVG;BASEMENTAREA_AVG;YEARS_BEGINEXPLUATATION_AVG;YEARS_BUILD_AVG;COMMONAREA_AVG;ELEVATORS_AVG;ENTRANCES_AVG;FLOORSMAX_AVG;FLOORSMIN_AVG;LANDAREA_AVG;LIVINGAPARTMENTS_AVG;LIVINGAREA_AVG;NONLIVINGAPARTMENTS_AVG;NONLIVINGAREA_AVG;APARTMENTS_MODE;BASEMENTAREA_MODE;YEARS_BEGINEXPLUATATION_MODE;YEARS_BUILD_MODE;COMMONAREA_MODE;ELEVATORS_MODE;ENTRANCES_MODE;FLOORSMAX_MODE;FLOORSMIN_MODE;LANDAREA_MODE;LIVINGAPARTMENTS_MODE;LIVINGAREA_MODE;NONLIVINGAPARTMENTS_MODE;NONLIVINGAREA_MODE;APARTMENTS_MEDI;BASEMENTAREA_MEDI;YEARS_BEGINEXPLUATATION_MEDI;YEARS_BUILD_MEDI;COMMONAREA_MEDI;ELEVATORS_MEDI;ENTRANCES_MEDI;FLOORSMAX_MEDI;FLOORSMIN_MEDI;LANDAREA_MEDI;LIVINGAPARTMENTS_MEDI;LIVINGAREA_MEDI;NONLIVINGAPARTMENTS_MEDI;NONLIVINGAREA_MEDI;FONDKAPREMONT_MODE;HOUSETYPE_MODE;TOTALAREA_MODE;WALLSMATERIAL_MODE;EMERGENCYSTATE_MODE;OBS_30_CNT_SOCIAL_CIRCLE;DEF_30_CNT_SOCIAL_CIRCLE;OBS_60_CNT_SOCIAL_CIRCLE;DEF_60_CNT_SOCIAL_CIRCLE;DAYS_LAST_PHONE_CHANGE;FLAG_DOCUMENT_2;FLAG_DOCUMENT_3;FLAG_DOCUMENT_4;FLAG_DOCUMENT_5;FLAG_DOCUMENT_6;FLAG_DOCUMENT_7;FLAG_DOCUMENT_8;FLAG_DOCUMENT_9;FLAG_DOCUMENT_10;FLAG_DOCUMENT_11;FLAG_DOCUMENT_12;FLAG_DOCUMENT_13;FLAG_DOCUMENT_14;FLAG_DOCUMENT_15;FLAG_DOCUMENT_16;FLAG_DOCUMENT_17;FLAG_DOCUMENT_18;FLAG_DOCUMENT_19;FLAG_DOCUMENT_20;FLAG_DOCUMENT_21;AMT_REQ_CREDIT_BUREAU_HOUR;AMT_REQ_CREDIT_BUREAU_DAY;AMT_REQ_CREDIT_BUREAU_WEEK;AMT_REQ_CREDIT_BUREAU_MON;AMT_REQ_CREDIT_BUREAU_QRT;AMT_REQ_CREDIT_BUREAU_YEAR
0  100001;Cash loans;F;N;Y;0;135000.0;568800.0;20...
1  100005;Cash loans;M;N;Y;0;99000.0;222768.0;173...
2  100013;Cash loans;M;Y;Y;0;202500.0;663264.0;69...
3  100028;Cash loans;F;N;Y;2;315000.0;1575000.0;4...
4  100038;Cash loans;M;Y;N;1;180000.0;625500.0;32...

In [4]:
# Split columns from one string to array of strings
column = main_test.columns
columns = column[0].split(';')

In [5]:
columns

['SK_ID_CURR',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [6]:
# Handle with main_test data
ddd = np.reshape(main_test.values, main_test.shape[0])
print(type(ddd[0]))

arrays = []
for array in ddd:
    arrays.append(array.split(';'))

arrays = np.asarray(arrays)
arrays.shape

<class 'str'>

(48744, 118)

In [7]:
dataset = pd.DataFrame(data=arrays, columns=columns)

In [8]:
dataset.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 118 columns):
SK_ID_CURR                      object
NAME_CONTRACT_TYPE              object
CODE_GENDER                     object
FLAG_OWN_CAR                    object
FLAG_OWN_REALTY                 object
CNT_CHILDREN                    object
AMT_INCOME_TOTAL                object
AMT_CREDIT                      object
AMT_ANNUITY                     object
AMT_GOODS_PRICE                 object
NAME_TYPE_SUITE                 object
NAME_INCOME_TYPE                object
NAME_EDUCATION_TYPE             object
NAME_FAMILY_STATUS              object
NAME_HOUSING_TYPE               object
REGION_POPULATION_RELATIVE      object
DAYS_BIRTH                      object
DAYS_EMPLOYED                   object
DAYS_REGISTRATION               object
DAYS_ID_PUBLISH                 object
OWN_CAR_AGE                     object
FLAG_MOBIL                      object
FLAG_EMP_PHONE                  object
FLAG_WORK_PHONE                 object
FLAG_CONT_MOBILE                object
FLAG_PHONE                      object
FLAG_EMAIL                      object
OCCUPATION_TYPE                 object
CNT_FAM_MEMBERS                 object
REGION_RATING_CLIENT            object
REGION_RATING_CLIENT_W_CITY     object
WEEKDAY_APPR_PROCESS_START      object
HOUR_APPR_PROCESS_START         object
REG_REGION_NOT_LIVE_REGION      object
REG_REGION_NOT_WORK_REGION      object
LIVE_REGION_NOT_WORK_REGION     object
REG_CITY_NOT_LIVE_CITY          object
REG_CITY_NOT_WORK_CITY          object
LIVE_CITY_NOT_WORK_CITY         object
ORGANIZATION_TYPE               object
APARTMENTS_AVG                  object
BASEMENTAREA_AVG                object
YEARS_BEGINEXPLUATATION_AVG     object
YEARS_BUILD_AVG                 object
COMMONAREA_AVG                  object
ELEVATORS_AVG                   object
ENTRANCES_AVG                   object
FLOORSMAX_AVG                   object
FLOORSMIN_AVG                   object
LANDAREA_AVG                    object
LIVINGAPARTMENTS_AVG            object
LIVINGAREA_AVG                  object
NONLIVINGAPARTMENTS_AVG         object
NONLIVINGAREA_AVG               object
APARTMENTS_MODE                 object
BASEMENTAREA_MODE               object
YEARS_BEGINEXPLUATATION_MODE    object
YEARS_BUILD_MODE                object
COMMONAREA_MODE                 object
ELEVATORS_MODE                  object
ENTRANCES_MODE                  object
FLOORSMAX_MODE                  object
FLOORSMIN_MODE                  object
LANDAREA_MODE                   object
LIVINGAPARTMENTS_MODE           object
LIVINGAREA_MODE                 object
NONLIVINGAPARTMENTS_MODE        object
NONLIVINGAREA_MODE              object
APARTMENTS_MEDI                 object
BASEMENTAREA_MEDI               object
YEARS_BEGINEXPLUATATION_MEDI    object
YEARS_BUILD_MEDI                object
COMMONAREA_MEDI                 object
ELEVATORS_MEDI                  object
ENTRANCES_MEDI                  object
FLOORSMAX_MEDI                  object
FLOORSMIN_MEDI                  object
LANDAREA_MEDI                   object
LIVINGAPARTMENTS_MEDI           object
LIVINGAREA_MEDI                 object
NONLIVINGAPARTMENTS_MEDI        object
NONLIVINGAREA_MEDI              object
FONDKAPREMONT_MODE              object
HOUSETYPE_MODE                  object
TOTALAREA_MODE                  object
WALLSMATERIAL_MODE              object
EMERGENCYSTATE_MODE             object
OBS_30_CNT_SOCIAL_CIRCLE        object
DEF_30_CNT_SOCIAL_CIRCLE        object
OBS_60_CNT_SOCIAL_CIRCLE        object
DEF_60_CNT_SOCIAL_CIRCLE        object
DAYS_LAST_PHONE_CHANGE          object
FLAG_DOCUMENT_2                 object
FLAG_DOCUMENT_3                 object
FLAG_DOCUMENT_4                 object
FLAG_DOCUMENT_5                 object
FLAG_DOCUMENT_6                 object
FLAG_DOCUMENT_7                 object
FLAG_DOCUMENT_8                 object
FLAG_DOCUMENT_9                 object
FLAG_DOCUMENT_10                object
FLAG_DOCUMENT_11                object
FLAG_DOCUMENT_12                object
FLAG_DOCUMENT_13                object
FLAG_DOCUMENT_14                object
FLAG_DOCUMENT_15                object
FLAG_DOCUMENT_16                object
FLAG_DOCUMENT_17                object
FLAG_DOCUMENT_18                object
FLAG_DOCUMENT_19                object
FLAG_DOCUMENT_20                object
FLAG_DOCUMENT_21                object
AMT_REQ_CREDIT_BUREAU_HOUR      object
AMT_REQ_CREDIT_BUREAU_DAY       object
AMT_REQ_CREDIT_BUREAU_WEEK      object
AMT_REQ_CREDIT_BUREAU_MON       object
AMT_REQ_CREDIT_BUREAU_QRT       object
AMT_REQ_CREDIT_BUREAU_YEAR      object
dtypes: object(118)
memory usage: 43.9+ MB

In [9]:
# All columns in string -> convert some columns in float or int
to_float_columns = ['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'REGION_POPULATION_RELATIVE',
                    'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BUILD_AVG',
                    'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG', 'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 
                    'LANDAREA_AVG', 'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
                   'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE', 'YEARS_BEGINEXPLUATATION_MODE',
                   'YEARS_BUILD_MODE', 'COMMONAREA_MODE', 'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE',
                   'FLOORSMIN_MODE', 'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE', 'NONLIVINGAPARTMENTS_MODE',
                   'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI', 'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI',
                   'YEARS_BUILD_MEDI', 'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
                   'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI', 'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI',
                   'NONLIVINGAREA_MEDI', 'TOTALAREA_MODE']

to_int_columns = ['SK_ID_CURR', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED', 'DAYS_REGISTRATION',
                 'DAYS_ID_PUBLISH', 'OWN_CAR_AGE', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE',
                  'FLAG_PHONE', 'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT', 'REGION_RATING_CLIENT_W_CITY',
                 'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
                 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY',
                 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
                  'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 
                  'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 
                  'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 
                  'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
                  'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 
                  'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']

In [10]:
typed_dataset = dataset.copy()

In [11]:
# To Float
for column in to_float_columns + to_int_columns:
    converted = []
    print(column)
    for val in typed_dataset[column].values:
        try:
            converted.append(float(val))
        except ValueError:
            converted.append(None)

    typed_dataset[column] = converted

AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
SK_ID_CURR
TARGET

KeyError: 'TARGET'

In [12]:
missing_values = typed_dataset.isnull().sum().sort_values(ascending=False)
percent_data = (typed_dataset.isnull().sum() / typed_dataset.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([missing_values, percent_data], axis=1, keys=['Total', 'Percent'])
print('Missing data:\n', missing_data)

Missing data:
                             Total   Percent
COMMONAREA_MODE             33495  0.687161
COMMONAREA_MEDI             33495  0.687161
COMMONAREA_AVG              33495  0.687161
NONLIVINGAPARTMENTS_AVG     33347  0.684125
NONLIVINGAPARTMENTS_MODE    33347  0.684125
NONLIVINGAPARTMENTS_MEDI    33347  0.684125
LIVINGAPARTMENTS_MODE       32780  0.672493
LIVINGAPARTMENTS_MEDI       32780  0.672493
LIVINGAPARTMENTS_AVG        32780  0.672493
FLOORSMIN_MODE              32466  0.666051
FLOORSMIN_AVG               32466  0.666051
FLOORSMIN_MEDI              32466  0.666051
YEARS_BUILD_MEDI            31818  0.652757
YEARS_BUILD_AVG             31818  0.652757
YEARS_BUILD_MODE            31818  0.652757
LANDAREA_MODE               28254  0.579641
LANDAREA_AVG                28254  0.579641
LANDAREA_MEDI               28254  0.579641
BASEMENTAREA_MEDI           27641  0.567065
BASEMENTAREA_AVG            27641  0.567065
BASEMENTAREA_MODE           27641  0.567065
NONLIVINGAREA_MEDI          26084  0.535122
NONLIVINGAREA_AVG           26084  0.535122
NONLIVINGAREA_MODE          26084  0.535122
ELEVATORS_MODE              25189  0.516761
ELEVATORS_MEDI              25189  0.516761
ELEVATORS_AVG               25189  0.516761
APARTMENTS_MODE             23887  0.490050
APARTMENTS_MEDI             23887  0.490050
APARTMENTS_AVG              23887  0.490050
...                           ...       ...
FLAG_DOCUMENT_16                0  0.000000
FLAG_DOCUMENT_17                0  0.000000
FLAG_DOCUMENT_18                0  0.000000
FLAG_DOCUMENT_19                0  0.000000
FLAG_DOCUMENT_20                0  0.000000
FLAG_DOCUMENT_21                0  0.000000
AMT_REQ_CREDIT_BUREAU_HOUR      0  0.000000
AMT_REQ_CREDIT_BUREAU_DAY       0  0.000000
AMT_REQ_CREDIT_BUREAU_WEEK      0  0.000000
AMT_REQ_CREDIT_BUREAU_MON       0  0.000000
FLAG_DOCUMENT_10                0  0.000000
FLAG_DOCUMENT_8                 0  0.000000
ORGANIZATION_TYPE               0  0.000000
FLAG_DOCUMENT_7                 0  0.000000
AMT_REQ_CREDIT_BUREAU_QRT       0  0.000000
FONDKAPREMONT_MODE              0  0.000000
HOUSETYPE_MODE                  0  0.000000
WALLSMATERIAL_MODE              0  0.000000
EMERGENCYSTATE_MODE             0  0.000000
OBS_30_CNT_SOCIAL_CIRCLE        0  0.000000
DEF_30_CNT_SOCIAL_CIRCLE        0  0.000000
OBS_60_CNT_SOCIAL_CIRCLE        0  0.000000
DEF_60_CNT_SOCIAL_CIRCLE        0  0.000000
DAYS_LAST_PHONE_CHANGE          0  0.000000
FLAG_DOCUMENT_2                 0  0.000000
FLAG_DOCUMENT_3                 0  0.000000
FLAG_DOCUMENT_4                 0  0.000000
FLAG_DOCUMENT_5                 0  0.000000
FLAG_DOCUMENT_6                 0  0.000000
SK_ID_CURR                      0  0.000000

[118 rows x 2 columns]

In [13]:
typed_dataset.to_csv('main_test.csv', index=False)

In [14]:
d = pd.read_csv('main_test.csv')

In [15]:
d.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001.0,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005.0,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013.0,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028.0,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038.0,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN