In [1]:
import numpy as np
import pandas as pd
import warnings
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

warnings.filterwarnings('ignore')

# Upload important datasets

### Upload bureau.csv

In [2]:
bureau = pd.read_csv('data/bureau.csv')
print(bureau.shape)
bureau.head()

(1716428, 17)

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,NaN,0,91323.0,0.0,NaN,0.0,Consumer credit,-131,NaN
1,215354,5714463,Active,currency 1,-208,0,1075.0,NaN,NaN,0,225000.0,171342.0,NaN,0.0,Credit card,-20,NaN
2,215354,5714464,Active,currency 1,-203,0,528.0,NaN,NaN,0,464323.5,NaN,NaN,0.0,Consumer credit,-16,NaN
3,215354,5714465,Active,currency 1,-203,0,NaN,NaN,NaN,0,90000.0,NaN,NaN,0.0,Credit card,-16,NaN
4,215354,5714466,Active,currency 1,-629,0,1197.0,NaN,77674.5,0,2700000.0,NaN,NaN,0.0,Consumer credit,-21,NaN

### Upload installments_payments.csv

In [3]:
installments_payments = pd.read_csv('data/installments_payments.csv')
print(installments_payments.shape)
installments_payments.head()

(13605401, 8)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,1054186,161674,1.0,6,-1180.0,-1187.0,6948.360,6948.360
1,1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2,2085231,193053,2.0,1,-63.0,-63.0,25425.000,25425.000
3,2452527,199697,1.0,3,-2418.0,-2426.0,24350.130,24350.130
4,2714724,167756,1.0,2,-1383.0,-1366.0,2165.040,2160.585

### Upload POS_CASH_balance.csv

In [4]:
POS_CASH_balance = pd.read_csv('data/POS_CASH_balance.csv')
print(POS_CASH_balance.shape)
POS_CASH_balance.head()

(10001358, 8)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
0,1803195,182943,-31,48.0,45.0,Active,0,0
1,1715348,367990,-33,36.0,35.0,Active,0,0
2,1784872,397406,-32,12.0,9.0,Active,0,0
3,1903291,269225,-35,48.0,42.0,Active,0,0
4,2341044,334279,-35,36.0,35.0,Active,0,0

### Upload previous_application.csv

In [5]:
previous_application = pd.read_csv('data/previous_application.csv')
print(previous_application.shape)
previous_application.head()

(1670214, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

### Upload bureau_balance

In [6]:
bureau_balance = pd.read_csv('data/bureau_balance.csv')
print(bureau_balance.shape)
bureau_balance.head()

(27299925, 3)

   SK_ID_BUREAU  MONTHS_BALANCE STATUS
0       5715448               0      C
1       5715448              -1      C
2       5715448              -2      C
3       5715448              -3      C
4       5715448              -4      C

### Upload data_combined + components + features

In [7]:
data_combined = pd.read_csv('data/pre_preprocessed_data/data_combined_components_features.csv')

# Make dummies

In [8]:
data_combined_dum = pd.get_dummies(data_combined)
data_combined_dum.shape

(356255, 263)

# Add total features from minor tables

### Bureau_balance

In [9]:
bureau_balance_size = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].size()
bureau_balance_max = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].max()
bureau_balance_min = bureau_balance.groupby('SK_ID_BUREAU')['MONTHS_BALANCE'].min()

bureau_balance_amount = bureau_balance.groupby('SK_ID_BUREAU')['STATUS'].value_counts(normalize=False)
bureau_balance_status = bureau_balance_amount.unstack('STATUS')
bureau_balance_status.columns = ['STATUS_0', 'STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','STATUS_C','STATUS_X',]
bureau_balance_status['MONTHS_COUNT'] = bureau_balance_size
bureau_balance_status['MONTHS_MIN'] = bureau_balance_max
bureau_balance_status['MONTHS_MAX'] = bureau_balance_min
 
bureau_merged = bureau.join(bureau_balance_status, how='left', on='SK_ID_BUREAU')

### Balance

In [10]:
cols = [col for col in bureau_merged.columns if bureau_merged[col].dtype == 'object']

bureau_dum = pd.get_dummies(bureau_merged)
bureau_mean = bureau_dum.groupby('SK_ID_CURR').mean()
bureau_mean['buro_count'] = bureau_dum[['SK_ID_BUREAU', 'SK_ID_CURR']].groupby('SK_ID_CURR').count()['SK_ID_BUREAU']

### Previous_application

In [11]:
cols = [col for col in previous_application.columns if previous_application[col].dtype == 'object']

previous_application_dum = pd.get_dummies(previous_application, columns=cols)
previous_application_mean = previous_application_dum.groupby('SK_ID_CURR').mean()
previous_application_amount = previous_application_dum[['SK_ID_CURR', 'SK_ID_PREV']].groupby('SK_ID_CURR').count()
previous_application_mean['nb_app'] = previous_application_amount['SK_ID_PREV']

### POS_CASH_balance

In [12]:
# Use the label encoder is better then the get_dummies in this situation
le = LabelEncoder()
POS_CASH_balance['NAME_CONTRACT_STATUS'] = le.fit_transform(POS_CASH_balance['NAME_CONTRACT_STATUS'].astype(str))
POS_CASH_balance_nunique = POS_CASH_balance[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').nunique()
POS_CASH_balance_nunique_max = POS_CASH_balance[['SK_ID_CURR', 'NAME_CONTRACT_STATUS']].groupby('SK_ID_CURR').max()
POS_CASH_balance['NUNIQUE_STATUS'] = POS_CASH_balance_nunique['NAME_CONTRACT_STATUS']
POS_CASH_balance['NUNIQUE_STATUS2'] = POS_CASH_balance_nunique_max['NAME_CONTRACT_STATUS']
POS_CASH_balance.drop(['SK_ID_PREV', 'NAME_CONTRACT_STATUS'], axis=1, inplace=True)

### Installments_payments

In [13]:
installments_payments_mean = installments_payments.groupby('SK_ID_CURR').mean()
installments_payments_max = installments_payments.groupby('SK_ID_CURR').max()
installments_payments_min = installments_payments.groupby('SK_ID_CURR').min()

# Merge all minor table into one big total features table

In [14]:
data_total = data_combined_dum.copy()

In [15]:
data_total = data_total.merge(right=bureau_mean.reset_index(), how='left', on='SK_ID_CURR')
data_total = data_total.merge(right=previous_application_mean.reset_index(), how='left', on='SK_ID_CURR')
data_total = data_total.merge(POS_CASH_balance.groupby('SK_ID_CURR').mean().reset_index(), how='left', on='SK_ID_CURR')
data_total = data_total.merge(right=installments_payments_mean.reset_index(), how='left', on='SK_ID_CURR')
data_total = data_total.merge(right=installments_payments_max.reset_index(), how='left', on='SK_ID_CURR')
data_total = data_total.merge(right=installments_payments_min.reset_index(), how='left', on='SK_ID_CURR')

In [16]:
# Drop some features
data_total = data_total[data_total.columns[data_total.isnull().mean() < 0.80]]

In [17]:
data_total.to_csv('data/pre_preprocessed_data/data_total.csv', index=False)